label{
    display :block;
    padding: 10px;
}
form{
    text-align: center;
    background-color: aquamarine;

    margin:0px 200px 0px 200px;
}
h1{
    text-align: center;
}
#submit{
    padding: 10px;
}
input[type=submit]{
      background-color: beige;
}
input[type=submit]:hover{
    background-color: red;
}